.resample {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 250px;
  width: 200px;
}

.resample .resample-size {
  width: 4em;
}

.resample .sumbit {

}

.resample .border {
  width: 100%;
  height: 1px;
  background-color: #999999;
  margin: 5px;
}



.section {
  padding-bottom: 10px;
}

.section-header {
  font-weight: bold;
}