root {
}

@import './toolbar.css';

.jp-RegulusPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jp-Regulus {
  flex: 1 1 auto;
  padding: 5px;
  /*var(--jp-notebook-padding);*/
  min-width: 50px;
  min-height: 50px;
  outline: none;
  overflow: auto;
  background: var(--jp-layout-color0);
}

/*.jp-Regulus::after {
  display: block;
  content: '';
  min-height: var(--jp-notebook-scroll-padding);
}*/
