MANIFEST
build
dist
lib
data
sim
hdviz_data
deploy_data
new_data
test
temp
new_sample_inputs.csv

node_modules
.cache
.vscode
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*

*.swp
*.map
.idea

test/coverage
docs/_build
docs/api
server/sim
