.tree_view {
  display: block;
}

.tree_view .header {
  background: lightblue;
  width: 100%
}

.tree_view .tree {
  max-height: 300px;
  overflow: auto;
}

#persistence-slider {
  /*width: 200px;*/
  /*height: 50px;*/
}

