.groups {
  position: relative;
}

.group {
  /*width: 100px;*/
  /*height: 400px;*/
  position: absolute;
  display: flex;
  flex-direction: column;  /* flip for horizontal layout */
}

.group .header {
  background-color: lavender;
  width: 100%;
  padding: 2px 5px 2px 5px;
}

.group .header .name {
  font-size: 11pt;
  font-style: italic;
}

.group .plots {
  display: flex;
  flex-direction: column;
}

.plot {
  margin: 5px;
  width: 150px;
  height: 50px;
  background-color: beige;
}

.plot .line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

