.details .config {
  border-bottom: 1px solid gray;
  padding: 2px 0 5px 0;
  margin-bottom: 10px;
}

.details .brush .overlay {
  fill: aliceblue;
}
.details .brush .selection {
  fill: limegreen;
  fill-opacity: 1;
}

.details .dims {
  margin-left: 110px;
  display: flex;
  flex-direction: row;
}

.details .dims .dim {
  width: 120px;
  padding: 0;
  /*margin-left: 10px;*/
  text-align: center;
}

.details .dims .dim label {
  /*background-color: beige;*/
}

.details .groups {
  position: relative;
}

.details .group {
  position: absolute;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.details .group.highlight {
  background-color: #f0f0f0;
}

.details .group .group-header {
  display: flex;
  flex-direction: column;
  width: 3em;
  height: 100px;
  padding: 0 5px 0 5px;
  margin-top: 10px;
  font-size: 10pt;

  background-color: lightgreen;
}

.details .group.highlight .group-header {
  background-color: lightgray;
}

.details .group.selected .group-header {
  stroke-width: 3px;
  stroke: lightgreen;
}

.details .group.edit .group-header {
  background-color: lightsalmon;
}

.details .group .header .size {
  font-size: 8pt;
  font-style: italic;
}

.details .measure .name {
  transform: rotate(-90deg);
  transform-origin: 45px 45px;
  position: absolute;
  /*background-color: beige;*/
}

.details .measure .y_axis label {
  fill: black;
  font-size: 10pt;
}

.details .group .plots {
  display: flex;
  flex-direction: row;
}


.details .plot {
  position: relative;
  margin:  10px 10px 0 10px;
  /*background-color: #fdfdfd;*/
}

.details .plot .canvas-bg {
  /*position: absolute;*/
  top: 1px;
  left: 1px;
}

.details .plot .canvas-fg {
  position: absolute;
  top: 1px;
  left: 1px;
}


.details .plot svg {
  position: absolute;
  top: 0;
  left: 0;
}

.details .plot rect {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.details .plot .line {
  fill: none;
  stroke: #666;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-opacity: 0.7;
  stroke-width: 1px;
}

.details .plot .area {
  fill: #f0f0f0;
  fill-opacity: 0.4;
  stroke: gray;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-opacity: 0.3;
  stroke-width: 1px;
  z-index: 0;
}

.details .plot circle {
  /*fill: steelblue;*/
}

.details .axis path,
.details .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
