$body-bg: #fafafa;
$font-size-base: 0.75rem;

$min_color: lightskyblue;
$max_color: #dc3545;
//
$input-padding-y: 0;
$input-padding-x: 0.25rem;

$custom-select-padding-y: 0.1rem;
$custom-select-padding-x: 0.2rem;

$line-height-base: 1;