html, body {
  font: 10pt Arial;
  height: 100%;
  /*background-color: #fafafa;*/
}

*, *:before, *:after {
  box-sizing: border-box;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#layoutContainer{
  /*width: 80%;*/
  /*height: 100%;*/
  position:absolute;
  top: 51px;
  left: 5px;
  right: 5px;
  bottom: 5px;

  /*box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );*/
}

body text {
  user-select: none;
}

.title {
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
}

.component {
  /*padding:5px;*/
}

.separator {
  width: 100%;
  height: 1px;
  margin: 5px;
  background-color: #666666;
}

.expand {
  flex: 1 1 auto;
}

.shrink {
  flex: 0 1 auto;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}


.dataset_view {
  display: inline-block;
}


.scroll {
  overflow: auto;
}