
body {
  font: 10pt Arial;
  /*user-select: none;*/
}

.page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5px;
}
.title {
  font-size: 26px;
  font-weight: bold;
  padding: 5px 0 5px 10px;
}

.container {
  /*padding: 5px;*/
  /*margin: 5px;*/
  display: flex;
  justify-content: flex-start;

}

.expand {
  flex: 1 1 auto;
}

.shrink {
  flex: 0 1 auto;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}


#dataset_view {
  flex: 0 1 auto;
}

#partition_view {
  flex: 0 1 auto;
}

#resample_view {
  flex: 0 1 auto;
}