
.feature-name {
  text-transform: uppercase;
  font-size: 0.675rem;
  padding-left: 5px;
  display: inline-block;
}

.feature-active {
  /*display: inline-block;*/
}

.slider-wrapper {
  display: inline-grid;
  width: 75%;
  margin: 5px;
  height: 20px;
}

.feature-cmap, #feature-cover {
  height: 20px;
  border-radius: 4px;
}

.feature-cover {
  background-color: #fafafa;
  position: relative;
  top: -20px;
  height: 20px;
}

.feature-value {
  padding-left: 10px;
  font-size: 8pt;
  float: right;
}

.feature-slider {
  width: 100%;
  height: 40px;
}