.filtering_view {
  padding: 5px;
}

.chart {
  /*background-color: lightcyan;*/
}

.chart path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart .axis  {
  fill: black;
}

.brush .selection {
  fill: lightgray;
}