.lifeline .node {
  fill: white;
  stroke: gray;
  stroke-width: 0.5px;
}

.lifeline .node:hover {
  /*fill: lightgray;*/
  stroke-width: 2px;
  z-index: 10;
  /*fill: lightblue;*/
}

.lifeline .node.selected {
  /*fill: lightblue;*/
}

.lifeline .highlight {
  /*stroke-width: 2px;*/
  /*stroke: gray;*/
  fill: lightyellow;
  /*filter: url('#drop-shadow');*/
}

.lifeline .highlight_max {
  /*stroke-width: 2px;*/
  /*stroke: gray;*/
  fill: lightsalmon;
}

.lifeline .highlight_min {
  /*stroke-width: 2px;*/
  /*stroke: gray;*/
  fill: lightskyblue;
}

.lifeline .node.details {
  stroke-width: 4px;
  stroke: lightgreen;
  /*fill: lightgreen;*/
  /*filter: url('#drop-shadow');*/
}

.lifeline .node.filtered {
  color: white;
  stroke: none;
}

.lifeline {
  user-select: none;
}

.lifeline .name {
  /*color: red;*/
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}

.lifeline .axis .axis-label {
  fill: black;
  font-size: 10pt;
}

