.lifeline .node {
  /*fill: white;*/
  stroke: steelblue;
  stroke-width: 0.5px;
}

.lifeline .node:hover {
  /*fill: lightgray;*/
  stroke-width: 2px;
  z-index: 10;
}

.lifeline .node.selected {
  /*fill: lightblue;*/
}

.lifeline .node.highlight {
  stroke-width: 2px;
  stroke: gray;
  filter: url('#drop-shadow');
}

.lifeline .node.details {
  /*stroke-width: 2px;*/
  /*fill: lightgreen;*/
  filter: url('#drop-shadow');
}

.lifeline .node.filtered {
  color: #f0f0f0;
}

.lifeline {
  user-select: none;
}

.lifeline .name {
  /*color: red;*/
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}

.lifeline .axis .axis-label {
  fill: black;
  font-size: 10pt;
}

