.lifeline .node {
  /*fill: white;*/
  stroke: steelblue;
  stroke-width: 0.5px;
}

.lifeline .node:hover {
  fill: lightgray;
  stroke-width: 2px;
}

.lifeline .node.selected {
  /*fill: lightblue;*/
}

.lifeline .node.highlight {
  stroke-width: 2px;
  stroke: gray;
}

.lifeline .node.details {
  stroke-width: 2px;
  /*fill: lightgreen;*/
}

.lifeline .node.filtered {
  color: #f0f0f0;
}

.lifeline {
  user-select: none;
}

.lifeline .name {
  /*color: red;*/
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}

.lifeline .axis .axis-label {
  fill: black;
  font-size: 10pt;
}

#persistence-slider {
  /*display: inline-block;*/
}

.lifeline .slider-wrapper {
  display: inline-block;
  width: 600px;
}

#fitness-value {
  padding-left: 10px;
}