@import '../app/_variables';

.partition_view {
  padding: 5px;

  .pv_info {
    padding: 5px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;

    .grid {
      display: grid;
      grid-template-columns: 15px 30px 0fr 0fr 0fr 0fr;
      grid-gap: 5px;
      grid-auto-rows: auto;
    }

    .pv_dataset_label {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    .pv_dataset {
      grid-column: 3 / span 3;
      grid-row: 1;
      text-transform: uppercase;
    }

    .pv_id_label {
      grid-column: 1;
      grid-row: 2;
    }

    .pv_id {
      grid-column: 2;
      grid-row: 2;

      &.highlight {
         background-color: lightgray;
       }

      &.selected {
        background-color: lightblue;
      }
    }

    .pv_name_label {
      grid-column: 3;
      grid-row: 2;
    }

    .pv_name {
      grid-column: 4 / span3;
      grid-row: 2;

      border: none;
      border-bottom: 0.5px solid #ccc;
      text-align: left;
    }

    input.pv_name {
      font-weight: bold;
    }


    .pv_size_label {
      grid-column-start: 1 / span 2;
      grid-row: 3;
    }

    .pv_size {
      grid-column: 3;
      grid-row: 3;
    }

    .pv_minmax_label {
      grid-column: 4;
      grid-row: 3;
    }

    .pv_min {
      grid-column: 5;
      grid-row: 3;
    }

    .pv_max {
      grid-column: 6;
      grid-row: 3;
    }

    .pv_fitness_label {
      grid-column: 1 / span 2;
      grid-row: 4;
    }

    .pv_fitness {
      grid-column: 3;
      grid-row: 4;
    }

    .pv_similarity_label {
      grid-column: 1 / span 2;
      grid-row: 5;
    }

    .pv_parent_similarity {
      grid-column: 3;
      grid-row: 5;
    }

    .pv_sibling_similarity {
      grid-column: 4;
      grid-row: 5;
    }
  }


  /*
   * stats
   */

  .pv_scroll {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .pv_stat_grid {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: auto;

    .pv_section-header {
      grid-column: 1 / span 2;
      font-weight: bold;
      font-size: 0.875rem;
    }

    .pv_label {
      grid-column: 1;
      //font-weight: bold;
      padding: 0 5px;
      //font-size: 10pt;

      &.pv_measure:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        background-color: lightblue;
      }
    }

    .pv_box {
      grid-column: 2;
      //background-color: #fafafa;
      height: 20px;
      width: 100%;

      font-size: 0.625rem;

      .svg {
        fill: lightgoldenrodyellow;
      }

      .frame {
        display: none;
      }

      rect {
        fill: lightblue;
        stroke: #000;
        stroke-width: 0.5px;
      }

      line,
      circle {
        fill: #fff;
        stroke: #000;
        stroke-width: 0.5px;
      }

      .center {
        stroke-dasharray: 3, 3;
      }

      .outlier {
        fill: none;
        stroke: #ccc;
      }
    }
  }

  .pv_notes_label {
    font-weight: bold;
    margin: 10px 0;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  textarea {
    vertical-align: top;
    width: 95%;;
    max-width: 95%;
  }

}
