.partition_view {
  max-width: 250px;
}

/*.partition_view div + div {*/
  /*margin-top: 0.5em;*/
/*}*/

.partition_view .partition_id.highlight {
  background-color: lightgray;
}

.partition_view .partition_id.selected {
  background-color: lightblue;
}


.partition_view .entry {
  display: inline-block;
  /*width: 30px;*/
}

.partition_view .value {
  display: inline-block;
  width: 40px;
  font-weight: bold;
  font-size: 9pt;
}

.partition_view input {
  /*font: 10pt arial;*/
  max-width: 100px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #999;
  text-align: left;
  font-weight: bold;
  font-size: 9pt;
}

.partition_view textarea {
  vertical-align: top;
  width: 170px;
  max-width: 170px;
  box-sizing: border-box;
  margin-left: 20px;
}

.partition_view input:focus, .partition_view textarea:focus {
  outline: none;
}

/*
 * stats
 */

.partition_view .stat {
  margin: 5px;
}

.partition_view .name {
  vertical-align: top;
  display: inline-block;
  width: 80px
}

.partition_view .name:hover {
  background-color: lightgray;
}

.partition_view .name.selected {
  background-color: lightblue;
}

.partition_view .box-plot {
  font: 10px sans-serif;
  padding-left: 20px;
}

.box-plot .frame {
  display: none;
}

.box-plot rect {
  fill: lightblue;
  stroke: #000;
  stroke-width: 0.5px;
}

.box-plot line,
.box-plot circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.5px;
}

.box-plot .center {
  stroke-dasharray: 3,3;
}

.box-plot .outlier {
  fill: none;
  stroke: #ccc;
}