.resample_view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*max-width: 250px;*/
  /*width: 200px;*/
  padding: 5px
}

.resample_view .params label {
  padding-right: 5px;
}

.resample_view .samples {
  width: 3em;
}

.resample_view .sigma {
  width: 3em;
}

.resample_view .submit {
  float: right;
}


.resample_view .border {
  width: 100%;
  height: 1px;
  background-color: #999999;
  margin: 5px;
}


.section {
  padding-bottom: 10px;
}

.section-header {
  font-weight: bold;
}